absl-py==0.15.0
aioice==0.9.0
aiortc==1.6.0
altair==4.2.2
av==11.0.0
h5py
imageio==2.6.1
imgaug==0.2.7
imutils==0.5.3
Keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing
numpy
opencv-python==4.5.4.58
Pillow==7.0.0
scikit-image
scikit-learn
scipy
tensorboard 
tensorflow==2.8.0
tensorflow-estimator
streamlit==1.29.0
streamlit_webrtc==0.47.1
pandas
matplotlib==3.6.3
