absl-py
aioice==0.9.0
aiortc==1.6.0
altair==4.2.2
av==11.0.0
h5py
imageio
imgaug
imutils==0.5.3
Keras
Keras-Applications
Keras-Preprocessing
numpy
opencv-python
Pillow
scikit-image
scikit-learn
scipy
tensorboard 
tensorflow
tensorflow-estimator
streamlit==1.29.0
streamlit_webrtc==0.47.1
pandas
matplotlib
protobuf==3.20.3
